body div{
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  width: 500px;
}

/*
Two equally sized columns
*/

.twoEqualColumns {
  width: 500px;
  height: 50px;
  padding: 10px;;
}

.twoEqualColumns .column1 {
  background-color: grey;
  flex: 1;
  margin-right: 5px;
}


.twoEqualColumns .column2 {
  background-color: grey;
  flex: 1;
  margin-left: 5px;
}

/*
Three equally sized columns
*/

.threeEqualColumns {
  width: 500px;
  height: 50px;
  padding: 15px;
}

.threeEqualColumns .column1 {
  background-color: grey;
  flex: 1;
  margin-right: 7.5px;
}

.threeEqualColumns .column2 {
  background-color: grey;
  flex: 1;
  margin-right: 7.5px;
  margin-left: 7.5px;
}


.threeEqualColumns .column3 {
  background-color: grey;
  flex: 1;
  margin-left: 7.5px;
}

/*
Three unequal columns
*/

.threeUnequalColumns {
  width: 500px;
  height: 50px;
  padding: 12px;
}


.threeUnequalColumns .column1 {
  background-color: grey;
  flex: 2;
  margin-right: 6px;
  border: 2px solid;

}

.threeUnequalColumns .column2 {
  background-color: grey;
  flex: 1;
  margin-left: 6px;
  margin-right: 6px;
  border: 2px solid;

}

.threeUnequalColumns .column3 {
  background-color: grey;
  flex: 1;
  margin-left: 6px;
  border: 2px solid;
}

/*
Four equally sized columns and footer
*/


.fourEqualColumnsAndFooter {
  width: 500px;
  padding: 12px;
  background-color: lightblue;
}

.fourEqualColumnsAndFooter .column1 {
  height: 50px;
  background-color: grey;
  flex: 1;
  margin-right: 6px;
  border: 2px solid;

}

.fourEqualColumnsAndFooter .column2 {
  background-color: grey;
  flex: 1;
  margin-left: 6px;
  margin-right: 6px;
  border: 2px solid;

}

.fourEqualColumnsAndFooter .column3 {
  background-color: grey;
  flex: 1;
  margin-left: 6px;
  margin-right: 6px;
  border: 2px solid;

}

.fourEqualColumnsAndFooter .column4 {
  background-color: grey;
  flex: 1;
  margin-left: 6px;
  border: 2px solid;
}


.fourEqualColumnsAndFooter .footerColumn {
  background-color: grey;
  margin-top: 6px;
  width: 500px;
  height: 50px;
  border: 2px solid;

}